<h1 class="container">Registrate</h1>
<form class="container d-flex flex-column col-4 gap-4" id="registerForm">
   <input type="text" name="first_name" placeholder="Nombre" > 
   <input type="text" name="last_name" placeholder="Apellido" > 
   <input type="text" name="email" placeholder="Email" > 
   <input type="number" name="age" placeholder="Edad" > 
   <input type="password" name="password" placeholder="Contraseña" > 
   <input type="submit" class="btn btn-primary"></input >
<p>¿Ya tienes un usuario? <a href="/login">Logueate</a></p>
</form>

<script src="js/register.js"></script>
